.spinner-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000ad;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}